<div class="container-beige" data-user-type="${user_type}">
    <h2 class="form-title"> Cambio Password </h2>

    <div class="form-container shadow-lg">
        <form method="POST" action="cambio_password">
            <input type="hidden" name="action" value="updateProfile">            

            <div class="form-group">
                <label for="current-password">Password attuale:</label>
                <input type="password" id="current-password" name="current-password" placeholder="Password attuale" required>
            </div>
            
            <div class="form-group">
                <label for="new-password">Nuova password:</label>
                <input type="password" id="new-password" name="new-password" placeholder="Nuova password" required>
            </div>
            
            <div class="form-group">
                <label for="confirm-password">Ripeti nuova password:</label>
                <input type="password" id="confirm-password" name="confirm-password" placeholder="Ripeti nuova password" required>
            </div>
            
            <div class="form-buttons">
                <#if (tipologia == "ORDINANTE")>
                    <a href="homepageordinante">
                        <div class="purple-button shadow-lg">INDIETRO</div>
                    </a>
                <#elseif (tipologia == "TECNICO")>
                    <a href="homepagetecnico">
                        <div class="purple-button shadow-lg">INDIETRO</div>
                    </a>
                </#if>
                 <#if (errore)??>

                    <p style="color: red"> ${errore}</p>
                </#if>
                <button type="submit" class="orange-button shadow-lg">SALVA</button>
            </div>
        </form>
    </div>
</div>

<script src="scripts/cambio_password.js"></script>