<div class="container-beige" data-user-type="${user_type}">
    <h2 class="form-title"> Cambio Password </h2>

    <div class="form-container">
        <form method="POST" action="">
            <input type="hidden" name="action" value="updateProfile">            

            <div class="form-group">
                <label for="current-password">Password attuale:</label>
                <input type="password" id="current-password" name="current-password" placeholder="Password attuale" required>
            </div>
            
            <div class="form-group">
                <label for="new-password">Nuova password:</label>
                <input type="password" id="new-password" name="new-password" placeholder="Nuova password" required>
            </div>
            
            <div class="form-group">
                <label for="confirm-password">Ripeti nuova password:</label>
                <input type="password" id="confirm-password" name="confirm-password" placeholder="Ripeti nuova password" required>
            </div>
            
            <div class="form-buttons">
                <button type="button" id="back-button" class="purple-button">INDIETRO</button>
                <#if (errore)??>
                    <p style="color: red"> ${errore}</p>
                </#if>
                <button type="submit" class="orange-button">SALVA</button>
            </div>
        </form>
    </div>
</div>

<script src="scripts/cambio_password.js"></script>