<div class="container-beige-not-centered">
    <div class="breadcrumb">
        <a href="homepageadmin"><div class="logo"><img src="images/home-svg.svg" alt="Home" /></div></a>
        <a href="gestionecategorie"><span> > Categorie</span></a>
    </div>
    <div class="category-details">
        <h2 class="title-dark-brown">Categoria 1</h2>
        <div class="buttons-container">
            <button class="lblue-button width150px">Modifica</button>
            <button class="icon-button">
                <img src="images/trashcan-svg.svg" alt="Delete" />
            </button>
        </div>
        <div class="parent-category">
            <strong>Categoria padre:</strong>
            <button class="purple-button">Categoria</button>
        </div>
        <div class="subcategories">
            <strong>Sotto categorie:</strong>
            <div class="subcategory-buttons">
                <button class="purple-button width150px margin-right">Categoria</button>
                <button class="purple-button width150px margin-right">Categoria</button>
                <button class="purple-button width150px margin-right">Categoria</button>
                <button class="purple-button width150px margin-right">Categoria</button>
                <button class="purple-button width150px margin-right">Categoria</button>
            </div>
        </div>
    </div>
</div>
