<div class="container-beige">
    <div class="nav-container">
        <div class="home-card" style="background-color: #90D5FE;">
            <a href="homepagetecnico">
                <img src="images/home-svg.svg" alt="icona home" class="home-icon">
            </a>
        </div>
        <a href="proposte_tecnico">
            <h3 style="color: #0D99FF; margin-left: 10px;">> Proposte inviate</h3>
        </a>
        <h3 style="color: #0D99FF; margin-left: 10px;">> Proposta #codice</h3> <!-- TODO: Codice dinamico-->
    </div>
    <div class="container-proposta">
        <div class="container-info-proposta">
            <h1 class="hi-text">#codiceRichiesta - usernameordinante</h1> <!-- TODO: Dinamico-->
            <div class="badge-stato">stato</div> <!-- TODO: Cambiare (oltre lo stato) dinamicamente anche il colore del badge -->
        </div>
        <div class="container-skyblue-proposta">
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome produttore">Nome produttore:</label>
                    <div class="grey-row">produttore</div>
                </div>
            </div>
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">Nome prodotto:</label>
                    <div class="grey-row">prodotto</div>
                </div>
            </div>
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">Codice prodotto:</label>
                    <div class="grey-row">codice</div>
                </div>
            </div>
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">Prezzo:</label>
                    <div class="grey-row">prezzo</div>
                </div>
            </div>
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">URL:</label>
                    <div class="grey-row">url</div>
                </div>
            </div>
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">Note:</label>
                    <div class="grey-row">note</div>
                </div>
            </div>
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">Motivazione del rifiuto:</label>
                    <div class="grey-row" style="background-color: #FFC7C2;">motivazione</div>
                </div>
            </div>
            <br>
            <div class="row-tecnico">
                <div class="form-group-tecnico" style="justify-content: center;">
                    <a href="detailrichiesta_tecnico">
                        <button class="btn-arancio">Proponi altro</button>
                    </a>
                    <a href="homepagetecnico">
                        <button class="btn-verde">Invia ordine</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>