<div class="container-beige">
    <div class="nav-container">
        <div class="home-card" style="background-color: #F67956;">
            <a href="homepagetecnico">
                <img src="images/home-svg.svg" alt="icona home" class="home-icon">
            </a>
        </div>
        <a href="storico_tecnico">
            <h3 style="color: #F67956; margin-left: 10px;">> Storico</h3>
        </a>
        <h3 style="color: #F67956; margin-left: 10px;">> Richiesta #codice</h3> <!-- TODO: Codice dinamico-->
    </div>
    <h1 class="hi-text" style="text-align: left;">#codiceRichiesta - usernameordinante</h1> <!-- TODO: Dinamico-->
    <br>
    <div class="container-richieste-storico">
        <div class="row-tecnico">
            <div class="form-group-tecnico">
                <label for="categoria">Categoria:</label>
                <div class="purple-richiesta-storico" style="width: auto;">categoria</div>
            </div>
        </div>
        <div class="row-tecnico">
            <div class="form-group-tecnico">
                <label for="stato">Stato:</label>
                <div class="green-storico">stato</div>
            </div>
        </div>
        <div class="row-tecnico">
            <div class="form-group-tecnico">
                <label for="caratteristiche">Caratteristiche:</label>
                <div class="skyblue-richiesta-storico">caratteristiche</div>
            </div>
        </div>
        <div class="row-tecnico">
            <div class="form-group-tecnico">
                <label for="note">Note:</label>
                <div class="orange-richiesta-storico">note</div>
            </div>
        </div>
        <div class="row-tecnico">
            <div class="form-group-tecnico">
                <label for="motivazione">Proposte d'acquisto:</label>
                <div class="pink-richiesta-storico2">#proposta1</div>
                <div class="pink-richiesta-storico2">#proposta2</div>
                <div class="pink-richiesta-storico2" style="margin-right: 0px;">#proposta3</div>
            </div>
        </div>
    </div>
</div>