<div class="container-beige">
    <div class="nav-container">
        <div class="home-card" style="background-color: #F67956;">
            <a href="homepagetecnico">
                <img src="images/home-svg.svg" alt="icona home" class="home-icon">
            </a>
        </div>
        <a href="storico_tecnico">
            <h3 style="color: #F67956; margin-left: 10px;">> Storico ordini</h3>
        </a>
        <h3 style="color: #F67956; margin-left: 10px;">> Ordine del ${ordine.data}</h3> 
    </div>
    <h1 class="hi-text" style="text-align: left;"> Ordine della proposta #${ordine.getProposta().codice} -  ${ordine.getProposta().richiestaOrdine.utente.username}</h1> 
    <br>
    <div class="container-richieste-storico shadow-lg">
        <div class="row-tecnico">
            <div class="form-group-tecnico">
                <label>Categoria:</label>
                <div class="purple-richiesta-storico" style="width: auto;"> ${ordine.getProposta().richiestaOrdine.categoria.nome}</div>
            </div>
        </div>
        <div class="row-tecnico">
            <div class="form-group-tecnico">
                <label>Stato ordine:</label>
                <div id="statoBadge" class="grey-storico">${ordine.stato}</div>
            </div>
        </div>
        <div class="row-tecnico">
            <div class="form-group-tecnico">
                <label>Vai alla richiesta:</label>
                <a href="detailrichiesta_tecnico?n=${ordine.getProposta().richiestaOrdine.key}&source=proposte">
                <div class="darkblue-richiesta-storico" >Richiesta #${ordine.getProposta().richiestaOrdine.codiceRichiesta}</div>
                </a>
            </div>
        </div>
        <div class="row-tecnico">
            <div class="form-group-tecnico">
                <label>Vai alla proposta:</label>
                <a href="detailproposta_tecnico?n=${ordine.getProposta().key}">
                <div class="darkblue-richiesta-storico">Proposta #${ordine.getProposta().codice}</div>
                </a>
            </div>
        </div>
        
    </div>
    <div class="form-group-tecnico" style="justify-content: center; width: 100%;">
                    <#if ordine.stato == "RESPINTO_NON_CONFORME" || ordine.stato == "RESPINTO_NON_FUNZIONANTE">
                    <form action="detailstorico_tecnico?n=${ordine.key}" method="post">
                        <input type="hidden" name="action" value="reinviaOrdine">
                        <button type="submit" class="btn-verde shadow-lg">Re-invia ordine</button>
                    </form>
                </#if>
                </div>
    
</div>

<script src="scripts/detailstorico_tecnico.js"></script>