<div class="container-beige">
    <div class="nav-container">
        <div class="home-card" style="background-color: #90D5FE;">
            <a href="homepagetecnico">
                <img src="images/home-svg.svg" alt="icona home" class="home-icon">
            </a>
        </div>
        <a href="proposte_tecnico">
            <h3 style="color: #0D99FF; margin-left: 10px;">> Proposte inviate</h3>
        </a>
        <h3 style="color: #0D99FF; margin-left: 10px;">> Proposta #${proposta.richiestaOrdine.codiceRichiesta}</h3> 
    </div>
    <div class="container-proposta">
        <div class="container-info-proposta">
            <h1 class="hi-text"> Richiesta #${proposta.richiestaOrdine.codiceRichiesta} - ${proposta.richiestaOrdine.utente.username}</h1>
            <div class="badge-stato" stato="${proposta.getStatoProposta()}">${proposta.getStatoProposta()}</div>
        </div>
        <div class="container-skyblue-proposta">
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome produttore">Nome produttore:</label>
                    <div class="grey-row">${proposta.produttore}</div>
                </div>
            </div>
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">Nome prodotto:</label>
                    <div class="grey-row">${proposta.prodotto}</div>
                </div>
            </div>
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">Codice prodotto:</label>
                    <div class="grey-row">${proposta.codice}</div>
                </div>
            </div>
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">Prezzo:</label>
                    <div class="grey-row">${proposta.prezzo}</div>
                </div>
            </div>
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">URL:</label>
                    <div class="grey-row"><a href="${proposta.url}">Visualizza</a></div>
                </div>
            </div>
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">Note:</label>
                    <div class="grey-row">${proposta.note!'Nessuna nota inserita'}</div>
                </div>
            </div>
            <#if proposta.getStatoProposta() == "RIFIUTATO">            
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">Motivazione del rifiuto:</label>
                    <div class="grey-row" style="background-color: #FFC7C2;">${proposta.motivazione}</div>
                </div>
            </div>
            </#if>
            <br>
            <div class="row-tecnico">
                <div class="form-group-tecnico" style="justify-content: center;">
                    <#if proposta.getStatoProposta() == "RIFIUTATO">
                    <a href="detailrichiesta_tecnico?n=${proposta.richiestaOrdine.key}">
                        <button class="btn-arancio">Proponi altro</button>
                    </a>
                    </#if>
                    <#if proposta.getStatoProposta() == "ACCETTATO">
                    <form action="" method="post">
                        <input type="hidden" name="action" value="inviaOrdine">
                        <button type="submit" class="btn-verde">Invia ordine</button>
                    </form>
                </#if>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<script src="scripts/proposte_tecnico.js"></script>