<div class="container-beige">
    <div class="nav-container">
        <div class="home-card" style="background-color: #5D54BE;">
            <a href="homepagetecnico">
                <img src="images/home-svg.svg" alt="icona home" class="home-icon">
            </a>
        </div>
        <a href="richieste_tecnico">
            <h3 style="color: #5D54BE; margin-left: 10px;">> Richieste non evase</h3>
        </a>
        <h3 style="color: #5D54BE; margin-left: 10px;">> Richiesta #codice</h3> <!-- TODO: Codice dinamico-->
    </div>
    <h1 class="hi-text" style="text-align: left;">#codiceRichiesta - usernameordinante</h1> <!-- TODO: Dinamico-->
    <br>
    <div class="rows-container">
        <div class="row-richieste-storico">
            <p class="text-richieste-storico">Categoria:</p>
            <p class="card-richieste-storico" style="background-color: #5D54BE;">cat</p>
        </div>
    </div>
</div>