<div class="container-beige">
    <div class="nav-container">
        <div class="home-card" style="background-color: #F67956;">
            <a href="homepageordinante">
                <img src="images/home-svg.svg" alt="icona home" class="home-icon">
            </a>
        </div>
        <a href="dettaglio_ordine_ord">
            <h3 style="color: #F67956; margin-left: 10px;">> Dettaglio Proposta</h3>
        </a>
        <h3 style="color: #F67956; margin-left: 10px;">> Proposta #${proposta.codice}</h3> 
    </div>
    <br>
    <div class="container-proposta">
        <div class="container-info-proposta">
            <div class="badge-stato">stato:
                <#if proposta.stato??>
    ${proposta.stato}
<#else>
    Stato non disponibile
</#if>
            </div> 
        </div>

        <div class="container-salm-proposta">
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome produttore">Nome produttore:</label>
                    <div class="grey-row">${proposta.produttore}</div>
                </div>
            </div>
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">Nome prodotto:</label>
                    <div class="grey-row">${proposta.prodotto}</div>
                </div>
            </div>
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">Codice prodotto:</label>
                    <div class="grey-row">${proposta.codiceProdotto}</div>
                </div>
            </div>
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">Prezzo:</label>
                    <div class="grey-row">${proposta.prezzo}</div>
                </div>
            </div>
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">URL:</label>
                    <div class="grey-row">${proposta.url}</div>
                </div>
            </div>
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">Note:</label>
                    <div class="grey-row">${proposta.note}</div>
                </div>
            </div>
            <br>

</div>
    
        <a href="successo_ordine">
        <button class="green-button">ACCETTA</button> </a>
     <!-- <button type="submit" class="green-button">ACCETTA</button> -->
        </div>
        <div>
            <a href ="motiva_rifiuto">
             <!-- <button type="submit" class="orange-button">RIFIUTA</button> -->
             <button class="orange-button">RIFIUTA</button>
            </a>
            </div>
    
</div>