<div class="container-beige">
    <div class="nav-container">
        <div class="home-card" style="background-color: #90D5FE;">
            <a href="homepageordinante">
                <img src="images/home-svg.svg" alt="icona home" class="home-icon">
            </a>
        </div>
        <a href="richieste_ordinante">
            <h3 style="color: #0D99FF; margin-left: 10px;">> Richieste Effettuate</h3>
        </a>
        <h3 style="color: #0D99FF; margin-left: 10px;">> Richiesta #${richiesta.codiceRichiesta}</h3> 
    </div>
    <br>
    <div class="container-richieste-storico">
        <div class="row-tecnico">
            <div class="form-group-tecnico">
                <label for="categoria">Categoria:</label>
                <div class="skyblue-richiesta-storico1" style="width: auto;">${richiesta.categoria.nome}</div>
            </div>
        </div>
        <div class="row-tecnico">
            <div class="form-group-tecnico">
                <label for="stato">Stato:</label>
                <div class="green-storico">${richiesta.stato}</div>
            </div>
        </div>
        <div class="row-tecnico">
            <div class="form-group-tecnico">
                <label for="caratteristiche">Caratteristiche:</label>
                <div class="skyblue-richiesta-storico">${richiesta.caratteristiche!'Nessuna caratteristica specificata.'}</div>
            </div>
        </div>
        <div class="row-tecnico">
            <div class="form-group-tecnico">
                <label for="note">Note:</label>
                <div class="orange-richiesta-storico">${richiesta.note!'Nessuna nota inserita'}</div>
            </div>
        </div>
        <div class="row-tecnico">
            <div class="form-group-tecnico">
                <#if richiesta.proposte?? && richiesta.proposte?size > 0>
                <label for="proposte">Proposte:</label>
                <#list richiesta.proposte as proposta>
                    <div class="pink-richiesta-storico2">
                        <a href="dettaglio_proposta_ord?n=${proposta.id}"> ${proposta.id}</a>
                    </div>
                </#list>
            <#else>
                <div class="pink-richiesta-storico2">
                    Nessuna proposta disponibile.
                </div>
            </#if>
            </div>
        </div>
    </div>
</div>