<div class="container-beige">
    <div class="nav-container">
        <div class="home-card" style="background-color: #F67956;">
            <a href="homepageordinante">
                <img src="images/home-svg.svg" alt="icona home" class="home-icon">
            </a>
        </div>
        <a href="dettaglio_ordine_ord">
            <h3 style="color: #F67956; margin-left: 10px;">> Dettaglio Ordine</h3>
        </a>
        <h3 style="color: #F67956; margin-left: 10px;">> Proposta #codice</h3> <!-- TODO: dinamico-->
    </div>
    <h1 class="hi-text" style="text-align: left;">#codiceProposta </h1> <!-- TODO: Dinamico-->
    <br>
    <div class="container-richieste-storico">
        <div class="row-richieste-storico">
            <div class="form-group-richiesta-storico">
                <label for="categoria">Categoria:</label>
                <div class="skyblue-richiesta-storico1" style="width: auto;">categoria</div>
            </div>
        </div>
        <div class="row-richieste-storico">
            <div class="form-group-richiesta-storico">
                <label for="produttore">Produttore:</label>
                <div class="orange-richiesta-storico">produttore</div>
            </div>
        </div>
        <div class="row-richieste-storico">
            <div class="form-group-richiesta-storico">
                <label for="prodotto">Prodotto:</label>
                <div class="orange-richiesta-storico">prodotto</div>
            </div>
        </div>
        <div class="row-richieste-storico">
            <div class="form-group-richiesta-storico">
                <label for="codice">Codice:</label>
                <div class="orange-richiesta-storico">codice</div>
            </div>
        </div>
        <div class="row-richieste-storico">
            <div class="form-group-richiesta-storico">
                <label for="prezzo">Prezzo:</label>
                <div class="orange-richiesta-storico">prezzo</div>
            </div>
        </div>
        <div class="row-richieste-storico">
            <div class="form-group-richiesta-storico">
                <label for="url">Url:</label>
                <div class="orange-richiesta-storico">url</div>
            </div>
        </div>
        <div class="row-richieste-storico">
            <div class="form-group-richiesta-storico">
                <label for="note">Note:</label>
                <div class="orange-richiesta-storico">note</div>
            </div>
        </div>
        <button type="submit" class="green-button">ACCETTA</button>
    </a>
        <button type="submit" class="orange-button">RIFIUTA</button>
    </div>
</div>