<div class="container-beige">
    <div class="nav-container">
        <div class="home-card" style="background-color:  #5D54BE;">
            <a href="homepagetecnico">
                <img src="images/home-svg.svg" alt="icona home" class="home-icon">
            </a>
        </div>
        <a href="ordini">
            <h3 style="color: #5D54BE; margin-left: 10px;">> Ordini</h3>
        </a>
        <h3 style="color:  #5D54BE; margin-left: 10px;">> Ordine #codice</h3> <!-- TODO: Codice dinamico-->
    </div>
    <h1 class="hi-text" style="text-align: left;">#codiceOrdine</h1> <!-- TODO: Dinamico-->
    <br>
    <div class="container-richieste-storico">
        <div class="row-richieste-storico">
            <div class="form-group-richiesta-storico">
                <label for="stato">Stato:</label>
                <div class="green-storico">stato</div>
            </div>
        </div>
        <div class="row-richieste-storico">
            <div class="form-group-richiesta-storico">
                <label for="categoria">Categoria:</label>
                <div class="purple-richiesta-storico" style="width: auto;">categoria</div>
            </div>
        </div>
        <div class="row-richieste-storico">
            <div class="form-group-richiesta-storico">
                <label for="proposta">Proposta:</label>
                <div class="green-proposta">
                    <a href="dettaglio_proposta_ord"> 
                        <p class="card-title-light">Proposta</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>