<div class="container-beige">
    <div class="nav-container">
        <div class="home-card" style="background-color: #90D5FE;">
            <a href="homepageordinante">
                <img src="images/home-svg.svg" alt="icona home" class="home-icon">
            </a>
        </div>
        <a href="richieste_ordinante">
            <h3 style="color: #0D99FF; margin-left: 10px;">> Richieste Effettuate</h3>
        </a>
        <h3 style="color: #0D99FF; margin-left: 10px;">> Richiesta #${richiesta.codiceRichiesta}</h3> 
    </div>
    <div class="container-proposta">
        <div class="container-info-proposta">
            <h1 class="hi-text"> Richiesta#: ${richiesta.codiceRichiesta}</h1>
            <div class="badge-stato" data-stato="${richiesta.getStato()}">
                ${richiesta.getStato()} </div> 
                <script src="scripts/dettaglio_richiesta_ord.js"></script>
        </div>

    <br>

    <div class="container-skyblue-proposta">
        <div class="row-tecnico">
            <div class="form-group-tecnico">
                <label for="categoria">Categoria:</label>
                <div class="grey-row">${richiesta.categoria.nome}</div>
            </div>
        </div>
        <!-- <div class="row-tecnico">
            <div class="form-group-tecnico">
                <label for="stato">Stato:</label>
                <div class="grey-row">${richiesta.stato}</div>
            </div>
        </div> -->
         
        <div class="row-tecnico">
            <div class="form-group-tecnico">
                <label for="data">Data:</label>
                <div class="grey-row">${richiesta.data}</div>
            </div>
        </div>
        <div class="row-tecnico">
            <div class="form-group-tecnico">
                <label for="note">Note:</label>
                <div class="grey-row">${richiesta.note!'Nessuna nota inserita'}</div>
            </div>
        </div>
        <div class="row-tecnico">
            <div class="form-group-tecnico">
                <label for="proposte">Proposte:</label>
                <div class="grey-row">
                <#if proposte??>
               
                <#list proposte as proposta>
                    <div class="pink-richiesta-storico2">
                        <a href="dettaglio_proposta_ord?n=${proposta.key}"> ${proposta.codice}</a>
                    </div>
                </#list>
                </#if>
            <#if proposte?size = 0 >
                <div class="pink-richiesta-storico2">
                    Nessuna proposta disponibile.
                </div>
            </#if>
        </div>
            </div>
        </div>
    </div>
</div>
