<div class="container-beige">
    <div class="nav-container flex items-center space-x-2">
        <div class="home-card flex justify-center items-center" style="background-color: #F67956;">
            <a href="homepageordinante">
                <img src="images/home-svg.svg" alt="icona home" class="home-icon">
            </a>
        </div>
        <a href="proposte_ordinante">
            <h3 style="color: #F67956; margin-left: 10px;">> Proposte</h3>
        </a>
        <h3 style="color: #F67956; margin-left: 10px;">> Dettaglio Proposta #${proposta.codice}</h3> 
    </div>
    
    <div class="container-proposta">
        <div class="container-info-proposta">
            <div class="badge-stato" stato="${proposta.getStatoProposta()}">
                ${proposta.getStatoProposta()! "Stato non disponibile"}
            </div> 
        <br>

        </div>
        <div class="row-tecnico">
            <div class="form-group-tecnico">
                <label for="proposta">Vai alla Richiesta</label>
                <a href="dettaglio_richiesta_ord?n=${proposta.getRichiestaOrdine().key}">
                <div name="richiesta" class="darkblue-richiesta-storico">Richiesta #${proposta.getRichiestaOrdine().codiceRichiesta}</div>
                </a>
            </div>
        </div>

        <div class="container-salm-proposta">
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome produttore">Nome produttore:</label>
                    <div class="grey-row">${proposta.produttore!"Produttore non disponibile"}</div>
                </div>
            </div>
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">Nome prodotto:</label>
                    <div class="grey-row">${proposta.prodotto}</div>
                </div>
            </div>
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">Codice prodotto:</label>
                    <div class="grey-row">${proposta.codiceProdotto}</div>
                </div>
            </div>
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">Prezzo:</label>
                    <div class="grey-row">€${proposta.prezzo}</div>
                </div>
            </div>
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">URL:</label>
                    <div class="grey-row"><a href="${proposta.url}" title="${proposta.url}">Visualizza</a></div>
                </div>
            </div>
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">Note:</label>
                    <div class="grey-row"><i>${proposta.note!'Nessuna nota inserita'}</i></div>
                </div>
            </div>
            <br>
        </div>

        <script src="scripts/dettaglio_proposta_ord.js"></script>


        <#if proposta.getStatoProposta() == "IN_ATTESA">
            <form action="" method="post">
                <input type="hidden" name="action" value="accettaProposta">
                <button class="green-button">ACCETTA</button>
            </form>
        </#if>
        <#if proposta.getStatoProposta() == "IN_ATTESA">
            <div>
                <a href="motiva_rifiuto?n=${proposta.key}">
                    <button class="orange-button">RIFIUTA</button>
                </a>
            </div>
        </#if>
    </div>
</div>
