<div class="container-beige">
    <h2 class="form-title">Aggiungi un utente</h2>
    <#if error??>
<div class="error-message">${error}</div>
</#if>

<#if success??>
<div>${success}</div>
</#if>

    <div class="form-container">
    <form method="POST" action="gestioneutenti">
    <input type="hidden" name="action" value="createUser">
        <div class="role-selection">
            <label class="white-label">Ruolo:</label>
            <div class="role-buttons">
                <input type="radio" id="role-ordinante" name="role" value="ORDINANTE" checked>
                <label for="role-ordinante" class="lblue-button">Ordinante</label>

                <input type="radio" id="role-tecnico" name="role" value="TECNICO">
                <label for="role-tecnico" class="lblue-button">Tecnico</label>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Email" required="">
        </div>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
            <label for="temp-password">Password temporanea:</label>
            <input type="password" id="temp-password" name="temp-password" placeholder="Password temporanea" required>
        </div>
        <div class="form-group">
            <label for="confirm-password">Ripeti password:</label>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Password temporanea" required>
        </div>
        <div class="form-buttons">
            <a href="homepageadmin">
            <div class="purple-button">INDIETRO</div>
            </a>
            <button type="submit" class="orange-button">SALVA</button>
        </div>
    </form>
    </div>
</div>

