<div class="container-beige">
    <h2 class="form-title">Aggiungi un utente</h2>
    <#if error??>
<div class="error-message">${error}</div>
</#if>

<#if success??>
<div class="success-message">${success}</div>
</#if>

    <div class="form-container">
    <form method="POST" action="gestioneutenti">
    <input type="hidden" name="action" value="createUser">
        <div class="role-selection">
            <label class="white-label" for="role">Ruolo:</label>
            <div class="role-buttons">
                <input type="radio" id="role-ordinante" name="role" value="ORDINANTE" checked>
                <label for="role-ordinante" class="lblue-button">Ordinante</label>

                <input type="radio" id="role-tecnico" name="role" value="TECNICO">
                <label for="role-tecnico" class="lblue-button">Tecnico</label>

                <input type="radio" id="role-admin" name="role" value="AMMINISTRATORE">
                <label for="role-admin" class="lblue-button">Admin</label>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="temp-password">Password temporanea:</label>
            <input type="password" id="temp-password" placeholder="Password temporanea">
        </div>
        <div class="form-group">
            <label for="confirm-password">Ripeti password:</label>
            <input type="password" id="confirm-password" placeholder="Password temporanea">
        </div>
        <div class="form-buttons">
            <button class="purple-button"><a href="homepageadmin">INDIETRO</a></button>
            <button class="orange-button">SALVA</button>
        </div>
    </form>
    </div>
</div>

