<form action="gestisci_caratteristiche?n=${categoria.key}" method="post" >
        <input type="hidden" name="action" value="createCaratteristica">
<div>
            <p>Caratteristiche di ${categoria.nome}:</p>
            <button type="button" id="add-caratteristica" class="orange-button margin-bottom">Aggiungi</button>
            <div id="caratteristiche-container">
                
            </div>
            <div class="categories">
                <#if (caratteristiche?size>0)>
                <#list caratteristiche as car>
                <div class="light-orange-button width150px category-item height61px">${car.nome}  
                    <form method="POST" action="gestisci_caratteristiche?n=${categoria.key}">
                                <input type="hidden" name="action" value="${car.key}">
                                <input type="submit" id="action" name="action" value="Elimina">
                        
                </form>
                </div>
                </#list>
                </#if>
            </div>
            <div class="form-buttons">
            <a href="categoria?n=${categoria.key}">
           
            <button type="button" class="orange-button">FATTO</button>
            </a>
        </div>
        </div>
</form>

 <script type="module" src="scripts/modifica_caratteristiche.js"></script>

