<div class="container-beige">
    <div class="title-container">
        <a href="homepageadmin">
        <div class="logo">
            <img src="images/home-svg.svg" alt="Home" />
        </div>
         </a>
        <h2 class="title-dark-brown">Categorie</h2>
        <div class="search-bar">
            <input type="text" id="search" placeholder="Search...">
        </div>
    </div>
    <#if (categorie?size>0)>
    <div class="categories">
        <button class="lblue-button width150px height61px span-1">Aggiungi</button>
        <#list categorie as categoria>
        <a href="categoria?n=${categoria.key}">
        <button class="purple-button width150px category-item height61px span-1">${categoria.nome}</button>
        </a>
        </#list>
    </div>
    </#if>
</div>
 <script type="module" src="scripts/gestione_categorie.js"></script>
