<div class="container-beige">
    <h1 class="hi-text" style="text-align: left;">Ciao, ${user.username}</h1>
    <br>
    <!-- Sezione Notifiche -->
    <div class="notifications-container">
        <div class="card-pink-notifications">
            <a href="notifiche_ordinante">
            <img src="images/notifications-svg.svg" alt="icona notifiche" class="img-notif">
            <p class="card-title-notifications">Notifiche</p>
        </div>
    </div>

        <!-- Sezione Impostazioni Profilo -->
        <div class="notifications-container">
            <div class="card-pink-notifications">
                <a href="profilo_ordinante">
                <img src="images/impostazioni-svg.svg" alt="icona notifiche" class="img-notif">
                <p class="card-title-notifications">Impostazioni</p>
            </div>
        </div>


    <!-- Sezione Principale con le Card -->
    <div class="three-buttons-container">
        <!-- Card Richieste Effettuate -->
        <div class="card-skyblue ">
            <a href="richieste_ordinante">
                <img src="images/richiesteEff.svg" alt="Icona Richieste" class="icon">
                <p class="card-title-light">Richieste</p>
            </a>
        </div>
        
        <!-- Card Nuova Richiesta -->
        <div class="card-orange">
            <a href="nuova_richiesta">
                <img src="images/nuovaRic.svg" alt="Icona Nuova Richiesta" class="icon">
                <p class="card-title-dark">Nuova Richiesta</p>
            </a>
        </div>
        
        <!-- Card Ordini -->
        <div class="card-purple">
            <a href="ordini">
                <img src="images/ordini.svg" alt="Icona Ordini" class="icon">
                <p class="card-title-light">Ordini</p>
            </a>
        </div>
    </div>
</div>
