<div class="container-beige">
    <h1 class="hi-text" style="text-align: left;">Ciao, ${user.username}</h1>
    <br>
    <div class="three-buttons-container">
        <div class="card-purple">
            <a href="richieste_tecnico">
                <img src="images/richieste-svg.svg" alt="icona richieste non evase" class="icon">
                <p class="card-title-light">Richieste non evase</p>
            </a>
        </div>
        <div class="card-skyblue ">
            <a href="proposte_tecnico">
                <img src="images/proposte-svg.svg" alt="icona proposte inviate" class="icon">
                <p class="card-title-dark">Proposte inviate</p>
            </a>
        </div>
        <div class="card-orange">
            <a href="storico_tecnico">
                <img src="images/storico-svg.svg" alt="icona storico" class="icon">
                <p class="card-title-light">Storico</p>
            </a>
        </div>
    </div>
    <div class="notifications-container">
        <div class="card-pink-notifications">
            <!-- <a href="notifiche_tecnico"> -->
                <img src="images/notifications-svg.svg" alt="icona notifiche" class="img-notif">
                <p class="card-title-notifications">Notifiche</p>
        </div>
    </div>
</div>