 <div class="container-beige  mx-auto p-4">
        <h1 class="hi-text">Ciao, ${user.username}</h1>
        <p class="subtitle">cosa vuoi fare oggi?</p>
        <div class="two-buttons-container">
            <div class="card-purple relative p-4 flex flex-col items-center">
                <a href="gestioneutenti">
                <img src="images/utente-svg.svg" alt="Icona Utente" class="icon h-16 w-16 mx-auto">
                <p class="card-title-light">Aggiungi un utente</p>
                </a>
            </div>
            <div class="card-orange relative p-4 flex flex-col items-center">
                <a href="gestionecategorie">
                <img src="images/edit-svg.svg" alt="Icona Pencil" class="icon h-16 w-16 mx-auto">
                <p class="card-title-light">Gestisci le categorie</p>
                </a>
            </div>
        </div>
    </div>