<div class="container-beige">
    <h1 class="hi-text" style="text-align: left;">Ciao, ${user.username}</h1>
    <br>

    <!-- Sezione Impostazioni Profilo -->
    <div class="notifications-container">
        <div class="card-notifiche">
            <a href="cambio_password">
            <p class="card-text">
                <img src="images/impostazioni-svg.svg" alt="icona profilo" class="img-prof">Impostazioni</p>
        </div>
    </div>
    
    <div class="three-buttons-container">
        <div class="card-purple" style="position: relative;">
            <a href="richieste_tecnico">
                <img src="images/richieste-svg.svg" alt="icona richieste non evase" class="icon">
                <p class="card-title-light">Richieste non evase</p>
            </a>
            <#if richieste_prese_in_carico?? && richieste_prese_in_carico == true>
                <span  class="pallino-rosso"></span>
                </#if>
        </div>
        <div class="card-skyblue " style="position: relative;">
            <a href="proposte_tecnico">
                <img src="images/proposte-svg.svg" alt="icona proposte inviate" class="icon">
                <p class="card-title-dark">Proposte inviate</p>
            </a>
            <#if proposte?? && proposte == true>
                <span  class="pallino-rosso"></span>
                </#if>
        </div>
        <div class="card-orange" style="position: relative;">
            <a href="storico_tecnico">
                <img src="images/storico-svg.svg" alt="icona storico" class="icon">
                <p class="card-title-light">Storico ordini</p>
            </a>
            <#if ordini?? && ordini == true>
                <span  class="pallino-rosso"></span>
                </#if>
        </div>
    </div>
    <#if richieste_in_attesa?? && richieste_in_attesa == true>
    <div class="notifications-container">
        <div class="card-notif-pulse">
            <a href="notifiche_tecnico" class="a-cards">
                <img src="images/notifications-svg.svg" alt="icona notifiche" class="img-notif">
                <p class="card-title-notifications">Nuove Richieste</p>
            </a>
        </div>
    </div>
    </#if>
</div>