<div class="container-beige mx-auto p-4 md:p-6 lg:p-8">
    <h1 class="hi-text text-left text-2xl md:text-3xl lg:text-4xl">Ciao, ${user.username}</h1>
    <br>
   

        <!-- Sezione Impostazioni Profilo -->
        <div class="notifications-container flex justify-end mt-4">
            <div class="card-notifiche min-w-[180px] h-15">
                <a href="cambio_password" class=" flex items-center ml-2 space-x-2">
               
                    <img src="images/impostazioni-svg.svg" alt="icona profilo" class="img-prof"> <p class="card-text text-gray-700 font-medium whitespace-nowrap">Impostazioni</p>
                    </a>
            </div>
        </div>


    <!-- Sezione Principale con le Card -->
    <div class="three-buttons-container mt-8">

        <div class="card-salm relative p-4 flex flex-col items-center min-h-[200px] md:min-h-[250px] lg:min-h-[300px]">
            <a href="proposte_ordinante" class="text-center">
                <img src="images/proposte-svg.svg" alt="Icona Proposte" class="icon h-16 w-16 mx-auto md:h-20 md:w-20">
                <p class="card-title-dark">Proposte</p>
            </a>
            <#if proposte?? && proposte == true>
                <span  class="pallino-rosso absolute top-4 right-4"></span>
                </#if>
        </div>

        
        <div class="card-skyblue relative p-4 flex flex-col items-center min-h-[200px] md:min-h-[250px] lg:min-h-[300px]">
            <a href="richieste_ordinante" class="text-center">
                <img src="images/richiesteEff.svg" alt="Icona Richieste" class="icon h-16 w-16 mx-auto  md:h-20 md:w-20">
                <p class="card-title-light">Storico Richieste</p>
            </a>
        </div>
        
        <div class="card-orange relative p-4 flex flex-col items-center min-h-[200px] md:min-h-[250px] lg:min-h-[300px]">
            <a href="nuova_richiesta" class="text-center">
                <img src="images/nuovaRic.svg" alt="Icona Nuova Richiesta" class="icon h-16 w-16 mx-auto  md:h-20 md:w-20">
                <p class="card-title-dark">Nuova Richiesta</p>
            </a>
        </div>

        <div class="card-purple relative p-4 flex flex-col items-center min-h-[200px] md:min-h-[250px] lg:min-h-[300px]"  >
            <a href="ordini" class="text-center">
                <img src="images/ordini.svg" alt="Icona Ordini" class="icon h-16 w-16 mx-auto  md:h-20 md:w-20">
                <p class="card-title-light">Ordini</p>
            </a>
            <#if ordini?? && ordini == true>
                <span  class="pallino-rosso absolute top-4 right-4"></span>
                </#if>
        </div>
    </div>
</div>
