<div class="container-beige">
    <h1 class="hi-text" style="text-align: left;">Ciao, ${user.username}</h1>
    <br>
   

        <!-- Sezione Impostazioni Profilo -->
        <div class="notifications-container">
            <div class="card-notifiche">
                <a href="profilo_ordinante">
                <p class="card-text">
                    <img src="images/impostazioni-svg.svg" alt="icona profilo" class="img-prof">Impostazioni</p>
            </div>
        </div>


    <!-- Sezione Principale con le Card -->
    <div class="three-buttons-container">

        <div class="card-salm" style="position: relative;">
            <a href="proposte_ordinante">
                <img src="images/proposte-svg.svg" alt="Icona Proposte" class="icon">
                <p class="card-title-dark">Proposte</p>
            </a>
            <#if proposte?? && proposte == true>
                <span  class="pallino-rosso"></span>
                </#if>
        </div>

        
        <div class="card-skyblue ">
            <a href="richieste_ordinante">
                <img src="images/richiesteEff.svg" alt="Icona Richieste" class="icon">
                <p class="card-title-light">Richieste</p>
            </a>
        </div>
        
        <div class="card-orange">
            <a href="nuova_richiesta">
                <img src="images/nuovaRic.svg" alt="Icona Nuova Richiesta" class="icon">
                <p class="card-title-dark">Nuova Richiesta</p>
            </a>
        </div>

        <div class="card-purple" style="position: relative;" >
            <a href="ordini">
                <img src="images/ordini.svg" alt="Icona Ordini" class="icon">
                <p class="card-title-light">Ordini</p>
            </a>
            <#if ordini?? && ordini == true>
                <span  class="pallino-rosso"></span>
                </#if>
        </div>
    </div>
</div>
