 <div class="container-beige">
        <h1 class="hi-text">Ciao, ${user.username}</h1>
        <p class="subtitle">cosa vuoi fare oggi?</p>
        <div class="two-buttons-container">
            <div class="card-purple">
                <a href="gestioneutenti">
                <img src="images/utente-svg.svg" alt="Icona Utente" class="icon">
                <p class="card-title-light">Aggiungi un utente</p>
                </a>
            </div>
            <div class="card-orange">
                <a href="gestionecategorie">
                <img src="images/edit-svg.svg" alt="Icona Pencil" class="icon">
                <p class="card-title-light">Gestisci le categorie</p>
                </a>
            </div>
        </div>
    </div>