 <div class="container-beige">
        <h1 class="hi-text">Ciao, ${user.username}</h1>
        <p class="subtitle">cosa vuoi fare oggi?</p>
        <div class="two-buttons-container">
            <div class="button-purple">
                <img src="images/utente-svg.svg" alt="Icona Utente" class="icon">
                <p>Aggiungi un utente</p>
            </div>
            <div class="button-orange">
                <img src="images/edit-svg.svg" alt="Icona Pencil" class="icon">
                <p>Gestisci le categorie</p>
            </div>
        </div>
    </div>