<div class="container-beige">
    <div class="nav-container">
        <div class="home-card" style="background-color: #5D54BE;">
            <a href="homepagetecnico">
                <img src="images/home-svg.svg" alt="icona home" class="home-icon">
            </a>
        </div>
        <a href="richieste_tecnico">
            <h3 style="color: #5D54BE; margin-left: 10px;">> Richieste non evase</h3>
        </a>
        <a href="detailrichiesta_tecnico">
            <h3 style="color: #5D54BE; margin-left: 10px;">> Richiesta  #codice</h3> <!-- TODO: Codice dinamico-->
        </a>
        <h3 style="color: #5D54BE; margin-left: 10px;">> Invio proposta</h3>
    </div>
    <div class="container-proposta">
        <div class="container-info-proposta">
            <h1 class="hi-text">#codiceRichiesta - usernameordinante</h1> <!-- TODO: Dinamico-->
        </div>
        <div class="container-purple-proposta" style="background-color: #5D54BE;">
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome produttore">Nome produttore:</label>
                    <input type="text" class="textfield-grey" placeholder="Inserisci nome produttore">
                </div>
            </div>
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">Nome prodotto:</label>
                    <input type="text" class="textfield-grey" placeholder="Inserisci nome prodotto">
                </div>
            </div>
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">Codice prodotto:</label>
                    <input type="text" class="textfield-grey" placeholder="Inserisci codice prodotto">
                </div>
            </div>
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">Prezzo:</label>
                    <input type="text" class="textfield-grey" placeholder="Inserisci prezzo">
                </div>
            </div>
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">URL:</label>
                    <input type="text" class="textfield-grey" placeholder="Inserisci URL">
                </div>
            </div>
            <div class="row-tecnico">
                <div class="form-group-tecnico">
                    <label for="nome prodotto">Note:</label>
                    <input type="text" class="textfield-grey" placeholder="Inserisci note">
                </div>
            </div>
            <br>
            <div class="row-tecnico">
                <div class="form-group-tecnico" style="justify-content: center;">
                    <a href="detailproposta_tecnico">
                        <button class="btn-verde">Invia proposta</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>