<div class="container-beige">
    <h2 class="form-title">Gentile Cliente, inserisca la motivazione del rifiuto della proposta ${proposta.codice}</h2>
    <div class="form-container">
    <form method="POST" action="">
        <input type="hidden" name="action" value="rifiutaProposta">

        
        <div class="form-group">
            <label for="note">Motivazione:</label>
            <textarea id="note" name="note" required class="pl-2"></textarea>
        </div>
       
        <div class="form-buttons">
            <#if (errore)??>
            <p style="color: red"> ${errore}</p>
            </#if>
            <a href="dettaglio_proposta_ord?n=${proposta.key}">
            <button type="button" class="purple-button">INDIETRO</button>
            </a>
            <button type="submit" class="orange-button">SALVA</button>
        </div>
    </form>
    </div>
</div>
