 <!--TODO: per notifica cosa si intende? se l'ordinante come notifica riceve solo le proposte allora da qui faccio l'href verso dettaglio_proposta, altrimenti verso dettaglio_notifica-->
<div class="container-beige">
    <div class="nav-container">
        <div class="home-card" style="background-color:#F67956">
            <a href="homepageordinante">
                <img src="images/home-svg.svg" alt="icona home" class="home-icon">
            </a>
        </div>
        <h3 style="color:#F67956; margin-left: 10px;">> Notifiche</h3> 
    </div>

    <!-- Sezione per la ricerca e il filtro -->
    <div class="search-container">
        <input type="text" placeholder="Cerca..." class="search-input">
        <button class="search-button">Vai</button>
    </div>
    <div class="filter-container">
        <p class="filter-text">Filtra per data:</p>
        <select name="data" id="data" class="filter-select">
            <option value="tutti">Tutti</option>
            <option value="reverse"> Dalla meno recente</option>
        </select>
    </div>

    <!-- Sezione che mostra le notifiche ricevute -->
    <div class="rows-container">
        <!-- TODO: farle dinamiche -->
        <!-- <a href="dettaglio_notifica" class="a-cards"> -->
        <div class="card-row-orange">
           <div class="card-row-content">
            
               <p class="card-row-text">Codice</p>
           </div>
           <div class="card-row-content">
               <p class="card-row-text">Titolo</p>
           </div>
           <div class="card-row-content">
               <p class="card-row-text">Data</p>
           </div>
           <div class="card-row-content">
               <p class="card-row-text">Stato</p>
           </div>
    </div>
        <div class="card-row-orange">
           <div class="card-row-content">
               <p class="card-row-text">Codice</p>
           </div>
           <div class="card-row-content">
               <p class="card-row-text">Titolo</p>
           </div>
           <div class="card-row-content">
               <p class="card-row-text">Data</p>
           </div>
           <div class="card-row-content">
               <p class="card-row-text">Stato</p>
           </div>
    </div>
        <div class="card-row-orange">
           <div class="card-row-content">
               <p class="card-row-text">Codice</p>
           </div>
           <div class="card-row-content">
               <p class="card-row-text">Titolo</p>
           </div>
           <div class="card-row-content">
               <p class="card-row-text">Data</p>
           </div>
           <div class="card-row-content">
               <p class="card-row-text">Stato</p>
           </div>
         </div>
    </div>
    



</div>


