    <!-- Form delle Caratteristiche -->
    <form method="POST" action="" id="characteristics-form" class="characteristics-container orange">
        <input type="hidden" name="action" value="createRichiesta">
   
        <h4>Caratteristiche</h4>
        <p>Se hai preferenze, inserisci i valori delle caratteristiche, altrimenti se ti è indifferente spunta la checkbox</p>

        <#if (caratteristiche?size>0)>
        <#list caratteristiche as caratteristica>
        <div class="characteristics-row">
            <label for="caratteristica${caratteristica.key}">${caratteristica.nome}:</label>
            <input type="text" id="caratteristica${caratteristica.key}" name="caratteristica${caratteristica.key}" placeholder="Inserisci ${caratteristica.nome}">
            <input type="checkbox" id="caratteristica${caratteristica.key}-indifferente" name="${caratteristica.key}-indifferente"> Indifferente
        </div>
    </#list>
    <#else>
    <div class="characteristics-row">
                    <p>Non ci sono caratteristiche associate alla categoria scelta</p>

        </div>
        </#if>


        <div class="characteristics-row">
            <label for="note">Note:</label>
            <textarea id="note" name="note" placeholder="Inserisci eventuali note"></textarea>
        </div>
        
        <!-- Pulsante per Inviare la Richiesta -->
          <div class="form-buttons">
            <a href="homepageordinante">
            <button type="button" class="purple-button">INDIETRO</button>
            </a>
            <button type="submit" class="orange-button">AVANTI</button>
        </div>
    </form>
    <div id="custom-alert" class="custom-alert">
        <div class="custom-alert-content">
            <span class="close-btn" onclick="closeAlert()">&times;</span>
            <h2>Richiesta Inviata!</h2>
            <p>La tua richiesta è stata inoltrata con successo!</p>
        </div>
    </div>
    <script src="scripts/nuova_ric_car.js"></script>
