<div class="container-beige">
    <!-- Navigazione -->
    <div class="nav-container">
        <div class="home-card" style="background-color: #F67956;">
            <a href="homepageordinante">
                <img src="images/home-svg.svg" alt="icona home" class="home-icon">
            </a>
        </div>
        <h3 style="color: #F67956; margin-left: 10px;">> Nuova Richiesta Ordine</h3> 
    </div>

    <!-- Selezione della Categoria -->
    <form method="POST" action="nuova_richiesta">
    <input type="hidden" name="action" value="avanti">

    <input type="hidden" id="chosen-category" name="chosen-category">
    <div class="category-container">
        <h4>Scegli la categoria del prodotto che desideri acquistare</h4>
        <#if (categorie?size>0)>
        <select name="category" id="category" class="filter-select orange" onchange="loadSubCategories(this.value)">
           <option value="" selected disabled>Seleziona una Categoria</option>
           <#list categorie as cat>

            <option value="${cat.key}">${cat.nome}</option>
            </#list>
        </select>
        </#if>
    </div>
    <div id="subcategories-container"></div>
    
      <div class="form-buttons">
            <a href="homepageordinante">
            <button type="button" class="purple-button">INDIETRO</button>
            </a>
            <button type="submit" class="orange-button">AVANTI</button>
        </div>
    </form>

    <!-- Form delle Caratteristiche -->
    <div id="characteristics-form" class="characteristics-container orange" style="display: none;">
        <h4>Caratteristiche</h4>
        <p>Se hai preferenze, inserisci i valori delle caratteristiche, altrimenti se ti è indifferente spunta la checkbox</p>

        <div class="characteristics-row">
            <label for="marca">Marca:</label>
            <input type="text" id="marca" name="marca" placeholder="Inserisci marca">
            <input type="checkbox" id="marca-indifferente" name="marca-indifferente"> Indifferente
        </div>
        
        <div class="characteristics-row">
            <label for="colore">Colore:</label>
            <input type="text" id="colore" name="colore" placeholder="Inserisci colore">
            <input type="checkbox" id="colore-indifferente" name="colore-indifferente"> Indifferente
        </div>
        
        <div class="characteristics-row">
            <label for="anno">Anno:</label>
            <input type="text" id="anno" name="anno" placeholder="Inserisci anno">
            <input type="checkbox" id="anno-indifferente" name="anno-indifferente"> Indifferente
        </div>

        <div class="characteristics-row">
            <label for="note">Note:</label>
            <textarea id="note" name="note" placeholder="Inserisci eventuali note"></textarea>
        </div>
        
        <!-- Pulsante per Inviare la Richiesta -->
        <div class="button-container">
            <button class="orange-button" onclick="submitForm()">Invia Richiesta</button>
        </div>
    </div>
</div>

<!-- script -->
 <script src="scripts/nuova_richiesta.js"></script>
