<div class="container-beige">
    <div class="nav-container">
        <div class="home-card" style="background-color: #5D54BE;">
            <a href="homepageordinante">
                <img src="images/home-svg.svg" alt="icona home" class="home-icon">
            </a>
        </div>
        <h3 style="color: #5D54BE; margin-left: 10px;">> Ordini</h3> 
    </div>
    
    <div class="search-container">
        <input type="text" placeholder="Cerca..." class="search-input">
        <button class="search-button">Vai</button>
    </div>
    <div class="filter-container">
        <p class="filter-text">Filtra per stato:</p>
        <select name="category" id="category" class="filter-select">
            <!-- TODO: Rendere dinamiche le categorie -->
            <option value="tutte">Tutte</option>
            <option value="cat1">1</option>
            <option value="cat2">2</option>
            <option value="cat3">3</option>
        </select>
    </div>

  
    <!-- Sezione che mostra gli ordini effettuati -->
      <#if (ordini?? && ordini?size > 0)>

    <div class="rows-container">

        <#list ordini as ordine>

        <a href="dettaglio_ordine_ord?n=${ordine.key}" class="a-cards"> 
        <div class="card-row-purple max-width-card">
            <div class="card-row-content">
                <p class="card-row-text">ID: ${ordine.key}</p>
            </div>
            <div class="card-row-content">
                <p class="card-row-text">Stato: ${ordine.stato}</p>
            </div>
            <div class="card-row-content">
                <p class="card-row-text">Proposta: ${ordine.proposta.getCodice()}</p>
            </div>
        </div>
     </a>
        </#list>     
    </div>
        <#else>
    <p>Nessun ordine trovato.</p>
      </#if>   

</div>