<div class="container-beige">
    <div class="nav-container">
        <div class="home-card" style="background-color: #5D54BE;">
            <a href="homepageordinante">
                <img src="images/home-svg.svg" alt="icona home" class="home-icon">
            </a>
        </div>
        <h3 style="color: #5D54BE; margin-left: 10px;">> Ordini</h3> 
    </div>
    
    <div class="search-container">
        <input type="text" placeholder="Cerca..."  id="search" class="search-input">

    </div>

    <div class="filter-container">
        <p class="filter-text">Filtra per stato:</label>
        <select name="status" id="status" class="filter-select">
            <option value="tutti">Tutti</option>
            <option value="ACCETTATO">Accettato</option>
            <option value="IN_ATTESA">In attesa</option>
            <option value="RESPINTO_NON_CONFORME">Respinto non conforme</option>
            <option value="RESPINTO_NON_FUNZIONANTE">Respinto non funzionante</option>
            <option value="RIFIUTATO">Rifiutato</option>
        </select>
    </div>

  
    <!-- Sezione che mostra gli ordini effettuati -->
      <#if (ordini?? && ordini?size > 0)>

    <div class="rows-container">

        <#list ordini as ordine>

        <div  id="ordine-container" class="card-row-purple max-width-card" data-stato="${ordine.getStato()}" data-codice="${ordine.proposta.getCodice()}" >
            <a href="dettaglio_ordine_ord?n=${ordine.key}" class="a-cards"> 
                <div class="card-row-content">
                    <p class="card-row-text">Data: ${ordine.getData()}</p>
                </div>
                <div class="card-row-content" stato="${ordine.getStato()}">
                    <p class="card-row-text">Stato: ${ordine.stato}</p>
                </div>
                <div class="card-row-content">
                    <p class="card-row-text">Proposta: ${ordine.proposta.getCodice()}</p>
                </div>
            </a>
        </div>
        </#list>     
    </div>
        <#else>
    <p>Nessun ordine trovato.</p>
      </#if>   

</div>
<script src="scripts/ordini.js"></script>