<div class="container-beige">
    <h2 class="form-title"> Cambio Password </h2>


    <!-- Sezione che permette all'ordinante di cambiare password -->
    <!-- <div class="form-container-orange">
        <div class="form-title">Cambia Password</div>
        <form>
            <div class="form-group">
                <label for="old-password" class="white-label">Vecchia Password</label>
                <input type="password" id="old-password" class="form-input" placeholder="Inserisci la vecchia password">
            </div>
            <div class="form-group">
                <label for="new-password" class="white-label">Nuova Password</label>
                <input type="password" id="new-password" class="form-input" placeholder="Inserisci la nuova password">
            </div>
            <div class="form-buttons">
                <button type="submit" class="orange-button">Salva</button>
                <button type="reset" class="purple-button">Annulla</button>
            </div>
        </form>
    </div> -->
    <div class="form-container">
        <form method="POST" action="gestione_profilo_ordinante">
            <input type="hidden" name="action" value="updateProfile">            
            


            <div class="form-group">
                <label for="current-password">Password attuale:</label>
                <input type="password" id="current-password" name="current-password" placeholder="Password attuale" required>
            </div>
            
            <div class="form-group">
                <label for="new-password">Nuova password:</label>
                <input type="password" id="new-password" name="new-password" placeholder="Nuova password">
            </div>
            
            <div class="form-group">
                <label for="confirm-password">Ripeti nuova password:</label>
                <input type="password" id="confirm-password" name="confirm-password" placeholder="Ripeti nuova password">
            </div>
            
            <div class="form-buttons">
                <a href="homepageordinante">
                    <button type="button" class="purple-button">INDIETRO</button>
                </a>
                <button type="submit" class="orange-button">SALVA</button>
            </div>
        </form>
    </div>
    
    
</div>

