<div class="container-beige">
    
    <div class="nav-container">
        <div class="home-card" style="background-color: #F67956">
            <a href="homepageordinante">
                <img src="images/home-svg.svg" alt="icona home" class="home-icon">
            </a>
        </div>
        <h3 style="color: #F67956; margin-left: 10px;">> Profilo</h3> 
    </div>

    <!-- Sezione che permette all'ordinante di cambiare password -->
    <div class="form-container-orange">
        <div class="form-title">Cambia Password</div>
        <form>
            <div class="form-group">
                <label for="old-password" class="white-label">Vecchia Password</label>
                <input type="password" id="old-password" class="form-input" placeholder="Inserisci la vecchia password">
            </div>
            <div class="form-group">
                <label for="new-password" class="white-label">Nuova Password</label>
                <input type="password" id="new-password" class="form-input" placeholder="Inserisci la nuova password">
            </div>
            <div class="form-buttons">
                <button type="submit" class="orange-button">Salva</button>
                <button type="reset" class="purple-button">Annulla</button>
            </div>
        </form>
    </div>
    
</div>

