<div class="container-beige px-4 md:px-8 lg:px-16 py-6 bg-gray-50">
    <div class="nav-container flex items-center space-x-2">
        <div class="home-card flex justify-center items-center" style="background-color:#1E88E5">
            <a href="homepageordinante" >
                <img src="images/home-svg.svg" alt="icona home" class="home-icon w-8 h-8 ">
            </a>
        </div>
        <h3 style="color:#1E88E5; margin-left: 10px;" class="font-semibold">> Proposte Ricevute</h3> 
    </div>
    <!-- Sezione per la ricerca e il filtro -->
    <div class="search-container  flex flex-col items-end space-y-4 mb-4">
        <input type="text" placeholder="Cerca per codice..." id="search" class="search-input">
        
    </div>
    <div class="filter-container">
        <p class="filter-text">Filtra per stato:</p>
        <select name="status" id="status" class="filter-select">
            <option value="tutti">Tutti</option>
            <option value="ACCETTATO">Accettato</option>
            <option value="RIFIUTATO">Rifiutato</option>
            <option value="IN_ATTESA">In attesa</option>
            <option value="ORDINATO">Ordinato</option>
        </select>
    </div>

    <!-- Sezione che mostra le proposte ricevute -->
     
        <#if (proposte?size>0)>

       <div class="rows-container">

            <#list proposte as proposta>
    <a href="dettaglio_proposta_ord?n=${proposta.key}" class="a-cards">
            <div id="proposta-container" class="card-row-salm" data-stato="${proposta.getStatoProposta()}" data-codice="${proposta.codice}">
                    
                        <div class="card-row-content mb-2">
                            <p class="card-row-text">Codice: ${proposta.codice}</p>
                        </div>
                        <div class="card-row-content mb-2">
                            <p class="card-row-text">Categoria: ${proposta.getRichiestaOrdine().categoria.nome}</p>
                        </div> 
                        <div class="card-row-content mb-2">
                            <p class="card-row-text">Data: ${proposta.data}</p>
                        </div> 
                    
                        <div class="card-row-content mb-2" data-state="${proposta.getStatoProposta()}">
                            <p class="card-row-text">${proposta.getStatoProposta()!"Stato non disponibile"}</p>
                        </div>
                    
            </div>
         </a>
             </#list>
        </div>
              </#if>
    <script src="scripts/proposte_ord.js"></script>
      
</div>
