<div class="container-beige">
    <div class="nav-container">
        <div class="home-card" style="background-color: #90D5FE;">
            <a href="homepagetecnico">
                <img src="images/home-svg.svg" alt="icona home" class="home-icon">
            </a>
        </div>
        <h3 style="color: #0D99FF; margin-left: 10px;">> Proposte inviate</h3> 
    </div>
    <div class="search-container">
        <input type="text" placeholder="Cerca..." class="search-input">
        <button class="search-button">Vai</button>
    </div>
    <div class="filter-container">
        <p class="filter-text">Filtra per stato:</p>
        <select name="category" id="category" class="filter-select">
            <!-- TODO: Rendere dinamiche le categorie -->
            <option value="tutte">Tutti</option>
            <option value="cat1">1</option>
            <option value="cat2">2</option>
            <option value="cat3">3</option>
        </select>
    </div>
    <div class="rows-container">
        <!-- TODO: Rendere dinamiche le righe mostrate -->
        <a href="detailproposta_tecnico" class="a-cards">
            <div class="card-row-skyblue">
                <div class="card-row-content">
                    <p class="card-row-text">Codice</p>
                </div>
                <div class="card-row-content">
                    <p class="card-row-text">Username</p>
                </div>
                <div class="card-row-content">
                    <p class="card-row-text">Data</p>
                </div>
                <div class="card-row-content">
                    <p class="card-row-text">Stato</p>
                </div>
            </div>
        </a>
        <a href="detailproposta_tecnico" class="a-cards">
            <div class="card-row-skyblue">
                <div class="card-row-content">
                    <p class="card-row-text">Codice</p>
                </div>
                <div class="card-row-content">
                    <p class="card-row-text">Username</p>
                </div>
                <div class="card-row-content">
                    <p class="card-row-text">Data</p>
                </div>
                <div class="card-row-content">
                    <p class="card-row-text">Stato</p>
                </div>
            </div>
        </a>
        <a href="detailproposta_tecnico" class="a-cards">
            <div class="card-row-skyblue">
                <div class="card-row-content">
                    <p class="card-row-text">Codice</p>
                </div>
                <div class="card-row-content">
                    <p class="card-row-text">Username</p>
                </div>
                <div class="card-row-content">
                    <p class="card-row-text">Data</p>
                </div>
                <div class="card-row-content">
                    <p class="card-row-text">Stato</p>
                </div>
            </div>
        </a>
    </div>
</div>