<div class="container-beige">
    <div class="nav-container">
        <div class="home-card" style="background-color: #90D5FE;">
            <a href="homepagetecnico">
                <img src="images/home-svg.svg" alt="icona home" class="home-icon">
            </a>
        </div>
        <h3 style="color: #0D99FF; margin-left: 10px;">> Proposte inviate</h3> 
    </div>
    <div class="search-container">
        <input type="text" id="search-input" placeholder="Cerca..." class="search-input">
        <button id="search-button" class="search-button">Vai</button>
    </div>
    <div class="filter-container">
        <p class="filter-text">Filtra per stato:</p>
        <select name="stato" id="stato" class="filter-select">
            <!-- TODO: Rendere dinamici gli stati -->
            <option value="tutti">Tutti</option>
            <option value="stato1">1</option>
            <option value="stato2">2</option>
            <option value="stato3">3</option>
        </select>
    </div>
    
    <!-- Sezione che mostra le richieste non evase -->
    <#if (proposte?size>0)>

    <div class="rows-container">
        <#list proposte as proposta>

        <a href="detailproposta_tecnico?n=${proposta.key}" class="a-cards">
            <div class="card-row-skyblue">
                <div class="card-row-content">
                    <p class="card-row-text">${proposta.codice}</p>
                </div>
                <div class="card-row-content">
                    <p class="card-row-text">${proposta.getRichiestaOrdine().getUtente().getUsername()}</p>
                </div>
                <div class="card-row-content">
                    <p class="card-row-text">${proposta.data}</p>
                </div>
                <div class="card-row-content" stato="${proposta.getStatoProposta()}">
                    <p class="card-row-text">${proposta.getStatoProposta()}</p>
                </div>
            </div>
        </a>
        </#list>
    </div>
    </#if>
</div>

<script src="scripts/proposte_tecnico.js"></script>