<div class="container-beige">
    <div class="nav-container">
        <div class="home-card" style="background-color:#e78e52">
            <a href="homepageordinante">
                <img src="images/home-svg.svg" alt="icona home" class="home-icon">
            </a>
        </div>
        <h3 style="color:#e78e52; margin-left: 10px;">> Proposte Ricevute</h3> 
    </div>
    <!-- Sezione per la ricerca e il filtro -->
    <div class="search-container">
        <input type="text" placeholder="Cerca..." id="search" class="search-input">
        
    </div>
    <div class="filter-container">
        <p class="filter-text">Filtra per stato:</p>
        <select name="status" id="status" class="filter-select">
            <option value="tutti">Tutti</option>
            <option value="ACCETTATO">Accettato</option>
            <option value="RIFIUTATO">Rifiutato</option>
            <option value="IN_ATTESA">In attesa</option>
            <option value="ORDINATO">Ordinato</option>
        </select>
    </div>

    <!-- Sezione che mostra le proposte ricevute -->
     
        <#if (proposte?size>0)>

       <div class="rows-container">

        <#list proposte as proposta>

        <div id="proposta-container" class="card-row-salm max-width-card" data-stato="${proposta.getStatoProposta()}" data-codice="${proposta.codice}">
            <a href="dettaglio_proposta_ord?n=${proposta.key}" class="a-cards">
                <div class="card-row-content">
                    <p class="card-row-text">Codice: ${proposta.codice}</p>
                </div>
            
                <div class="card-row-content">
                    <p class="card-row-text">Data: ${proposta.data}</p>
                </div> 
            
                <div class="card-row-content" stato="${proposta.getStatoProposta()}">
                    <p class="card-row-text">${proposta.getStatoProposta()!"Stato non disponibile"}</p>
                </div>
            </a>
        </div>
         
        </#list>
        </div>
         </#if>
<script src="scripts/proposte_ord.js"></script>
      
</div>
