<div class="container-beige">
    <div class="nav-container">
        <div class="home-card" style="background-color:#90D5FE">
            <a href="homepageordinante">
                <img src="images/home-svg.svg" alt="icona home" class="home-icon">
            </a>
        </div>
        <h3 style="color: #0D99FF; margin-left: 10px;">> Richieste Effettuate</h3> 
    </div>
    <!-- Sezione per la ricerca e il filtro -->
    <div class="search-container">
        <input type="text" placeholder="Cerca..." class="search-input">
        <button class="search-button">Vai</button>
    </div>
    <div class="filter-container">
        <p class="filter-text">Filtra per stato:</p>
        <select name="status" id="status" class="filter-select">
            <option value="tutti">Tutti</option>
            <option value="PRESA_IN_CARICO">In Carico</option>
            <option value="RISOLTA">Risolta</option>
            <option value="IN_ATTESA">In Attesa</option>
            <option value="ORDINATA">Ordinata</option>
        </select>
    </div>

    <!-- Sezione che mostra le richieste effettuate -->
     
        <#if (richieste?size>0)>

    <div class="rows-container">

        <#list richieste as richiesta>

        <a href="dettaglio_richiesta_ord?n=${richiesta.key}" class="a-cards">
         <div id="richiesta-container" class="card-row-skyblue" data-stato="${richiesta.getStato()}">
            <div class="card-row-content">
                <p class="card-row-text">Codice: ${richiesta.codiceRichiesta}</p>
            </div>
            <div class="card-row-content">
                <p class="card-row-text">Categoria: ${richiesta.categoria.nome}</p>
            </div>
            <div class="card-row-content">
                <p class="card-row-text">Data: ${richiesta.data} </p>
            </div>
            <div class="card-row-content" stato="${richiesta.getStato()}">
                <p class="card-row-text">${richiesta.getStato()} </p>
            </div>
         </div>
         
        </a>
        </#list>
        
        </div>
        <#else>
        <p id="no-results" style="display:none; color: rgb(68, 68, 66);">Nessun risultato trovato.</p>

       </#if>
       <script src="scripts/richieste_ord.js"></script>
</div>
