<div class="container-beige">
    <div class="nav-container">
        <div class="home-card" style="background-color: #F67956;">
            <a href="homepagetecnico">
                <img src="images/home-svg.svg" alt="icona home" class="home-icon">
            </a>
        </div>
        <h3 style="color: #F67956; margin-left: 10px;">> Storico ordini</h3> 
    </div>
    <div class="search-container">
        <input type="text" placeholder="Cerca..." class="search-input">
        <button class="search-button">Vai</button>
    </div>
    <div class="filter-container">
        <p class="filter-text">Filtra per stato:</p>
        <select name="stato" id="stato" class="filter-select">
            <option value="tutti">Tutti</option>
            <option value="ACCETTATO">Accettato</option>
            <option value="RESPINTO_NON_CONFORME">Respinto perché non conforme</option>
            <option value="RESPINTO_NON_FUNZIONANTE">Respinto perché non funzionante</option>
        </select>
    </div>
    <div class="rows-container">
        <div class="card-row-transparent">
            <div class="card-row-content">
                <p class="card-row-text">Proposta #</p>
            </div>
            <div class="card-row-content">
                <p class="card-row-text">Utente</p>
            </div>
            <div class="card-row-content">
                <p class="card-row-text">Data</p>
            </div>
            <div class="card-row-content" >
                <p class="card-row-text">Stato</p>
            </div>
        </div>
        <#list ordini as ordine>
        <a href="detailstorico_tecnico?n=${ordine.key}" class="a-cards">
            <div class="card-row-orange">
                <div class="card-row-content">
                    <p class="card-row-text">${ordine.proposta.codice}</p>
                </div>
                <div class="card-row-content">
                    <p class="card-row-text">${ordine.proposta.richiestaOrdine.utente.username}</p>
                </div>
                <div class="card-row-content">
                    <p class="card-row-text">${ordine.data}</p>
                </div>
                <div class="card-row-content" stato="${ordine.stato}">
                    <p class="card-row-text">${ordine.stato}</p>
                </div>
            </div>
        </a>
        </#list>
    </div>
</div>

<script src="scripts/storico_tecnico.js"></script>