    <div class="container-beige">
        <div class="nav-container">
            <div class="home-card" style="background-color:#90D5FE">
                <a href="homepageordinante">
                    <img src="images/home-svg.svg" alt="icona home" class="home-icon">
                </a>
            </div>
        </div>
        <h1 class="hi-text">Grazie per il tuo ordine!</h1>
        <p class="subtitle">Un'email di conferma è stata inviata al tuo indirizzo, il tecnico procederà con l'invio il prima possibile.</p>
        <br>
        <!-- <p class="subtitle">Clicca il pulsante sottostante per CHIUDERE la tua richiesta.</p>
 
        <a href="ordini" class="green-button">CHIUDI RICHIESTA</a> -->
  
    </div>
